{% extends 'templates/app.twig' %}


{% block body %}


    <div class="row mt-5">
        <div class="col-6  mt-3">
            <h4>Reservations du jour</h4>
            <div class="border border-dark">
                <table class="table">
                    <thead>
                    <tr><th class="scope">haha</th><th class="scope">HOHO</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>héhé</td><td>HAHA</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6 mt-3">
            <h4>Dernières reservations enregistrées</h4>
            <div class="border border-dark">
                <table class="table">
                    <thead>
                    <tr><th class="scope">haha</th><th class="scope">HOHO</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>héhé</td><td>HAHA</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6  mt-3">
            <h4>Derniers retours</h4>
            <div class="border border-dark">
                <table class="table">
                    <thead>
                    <tr><th class="scope">haha</th><th class="scope">HOHO</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>héhé</td><td>HAHA</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6  mt-3">
            <h4>Logs</h4>
            <div class="border border-dark">
                <table class="table">
                    <thead>
                    <tr><th class="scope">haha</th><th class="scope">HOHO</th></tr>
                    </thead>
                    <tbody>
                    <tr><td>héhé</td><td>HAHA</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}